<button type="button" id="btnGameSetting" class="position-absolute start-50 top-50 translate-middle" data-bs-toggle="modal" data-bs-target="#gameSetting" data-i18n="press_to_play">

</button>

<!-- Game Setting modal -->
<div class="modal" id="gameSetting" tabindex="-1" data-bs-backdrop="static" aria-labelledby="gameSetting" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="game_setting">Game Setting</h5>
				<button type="button" id="closeBtnGameSetting" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="gameSet">
					<div class="row">
						<label for="numberOfLife" class="col-4" data-i18n="number_of_life"></label>
						<input  class="col-7" type="range" min="1" max="5" step="1"  name="numberOfLife" id="numberOfLife" oninput="this.nextElementSibling.value = this.value">
						<output class="col-1 text-end">3</output>
					</div>
					<div class="row">
						<label for="numberOfGame" class="col-4" data-i18n="number_of_games"></label> <!--number of round win-->
						<input class="col-7" type="range" min="1" max="3" step="1" name="numberOfGame" id="numberOfGame" oninput="this.nextElementSibling.value = this.value">
						<output class="col-1 text-end">2</output>
					</div>
					<div class="row d-flex justify-content-between mt-2 mb-2">
						<input type="radio" class="btn-check" name="options" id="1v1" value="1v1" checked>
						<label class="btn btn-outline-primary text-black col-2 ms-2" for="1v1">2</label>
						<input type="radio" class="btn-check" name="options" id="4p" value="4p">
						<label class="btn btn-outline-primary text-black col-2 me-2" for="4p">4</label>
						<input type="radio" class="btn-check" name="options" id="tournament" value="tournament">
						<label class="btn btn-outline-primary text-black col-6 ms-2" for="tournament" data-i18n="tournament"></label>
					</div>
					<div class="position-absolute end-0 bottom-0 m-4" id="reverseMode">
						<label for="reverse" data-i18n="reverse_mode"></label>
						<input type="checkbox" name="reverse" id="reverse">
						<img src="/frontend/img/question-circle.svg" alt="question-circle" data-i18n="[data-bs-title]info" data-bs-toggle="tooltip" title="" class="mb-1">
					</div>
					<div class="row">
						<button type="submit" class="btn btn-outline-secondary text-black col-3 ms-2" data-bs-dismiss="modal" data-i18n="submit"></button>
					</div>
				</form>
			</div>
		</div>
	</div> 
</div>

<!-- lobby 2 player modal -->
<div class="modal" id="lobby" tabindex="-1" data-bs-backdrop="static" aria-labelledby="lobby" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="lobby"></h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body paddle m-2">
				<form id="chooseName">
					<h3 class="w-auto position-absolute start-50 top-50 translate-middle text-center" data-i18n="choose_spot"></h3>
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="brian position-absolute bg-danger start-0 top-50 w-25 translate-middle-y"> <!--1		w 	s-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="brian position-absolute bg-primary end-0 top-50 w-25 translate-middle-y"> <!--2			up 	down-->
					<h5 class="position-absolute start-0 bottom-50 w-25 translate-middle-y"><span data-i18n="key"></span> W S</h5>
					<h5 class="position-absolute end-0 bottom-50 w-25 translate-middle-y"><span data-i18n="key"></span> ↑ ↓</h5>
				</form>
			</div>
		</div>
	</div> 
</div>

<!-- lobby 4 player modal -->
<div class="modal" id="lobby1" tabindex="-1" data-bs-backdrop="static" aria-labelledby="lobby1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="lobby"></h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body paddle m-2">
				<form id="chooseName">
					<h3 class="w-auto position-absolute start-50 top-50 translate-middle text-center" data-i18n="choose_spot"></h3>
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="brian position-absolute bg-danger start-0 top-50 w-25 translate-middle-y"> <!--1		w 	s-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="brian position-absolute bg-primary end-0 top-50 w-25 translate-middle-y"> <!--2			up 	down-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="position-absolute bg-info start-50 top-0 w-25 translate-middle-x"> <!--3			o 	p-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="position-absolute bg-warning start-50 bottom-0 w-25 translate-middle-x"> <!--4	x 	c-->
					<h5 class="position-absolute start-0 bottom-50 w-25 translate-middle-y"><span data-i18n="key"></span> W S</h5>
					<h5 class="position-absolute end-0 bottom-50 w-25 translate-middle-y"><span data-i18n="key"></span> ↑ ↓</h5>
					<h5 class="position-absolute start-50 w-25 translate-middle-x text-center" style="top: 10%;"><span data-i18n="key"></span> O P</h5>
					<h5 class="position-absolute start-50 w-25 translate-middle-x text-center" style="bottom: 10%;"><span data-i18n="key"></span> X C</h5>
					<button type="submit" id="btnStart" class="btn btn-outline-dark w-auto position-absolute start-50 top-50 translate-middle text-center" data-i18n="start_game" hidden>Start Game</button>
				</form>
			</div>
		</div>
	</div> 
</div>

<!-- lobby tournament modal -->
<div class="modal" id="lobbyTournament" tabindex="-1" data-bs-backdrop="static" aria-labelledby="lobbyTournament" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="lobby"></h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body paddle m-2">
				<form id="chooseName">
					<h3 class="w-auto position-absolute start-50 top-50 translate-middle text-center" data-i18n="choose_spot"></h3>
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="brian position-absolute bg-danger start-0 top-0 w-25"> <!--1		w 	s-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="brian position-absolute bg-primary end-0 top-0 w-25"> <!--2			up 	down-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="position-absolute bg-info start-0 bottom-0 w-25"> <!--3			o 	p-->
					<input type="text" data-i18n="[placeholder]enter_name" name="name" autocomplete="name" class="position-absolute bg-warning end-0 bottom-0 w-25"> <!--4	x 	c-->
					<h5 class="position-absolute start-0 top-50 w-25 translate-middle-y"><span data-i18n="key"></span> W S</h5>
					<h5 class="position-absolute end-0 top-50 w-25 translate-middle-y text-end"><span data-i18n="key"></span> ↑ ↓</h5>
				</form>
			</div>
		</div>
	</div> 
</div>

