<button type="button" class="position-absolute start-50 top-50 translate-middle" data-bs-toggle="modal" data-bs-target="#gameSetting" data-i18n="press_to_play">

</button>

<!-- Game Setting modal -->
<div class="modal" id="gameSetting" tabindex="-1" data-bs-backdrop="static" aria-labelledby="gameSetting" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="game_setting">Game Setting</h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<label for="numberOfLife" class="col-4" data-i18n="number_of_life"></label>
						<input  class="col-7" type="range" min="1" max="10" step="1" id="numberOfLife" oninput="this.nextElementSibling.value = this.value">
						<output class="col-1 text-end">6</output>
					</div>
					<div class="row">
						<label for="numberOfGame" class="col-4" data-i18n="number_of_games"></label>
						<input class="col-7" type="range" min="1" max="10" step="1" id="numberOfGame" oninput="this.nextElementSibling.value = this.value">
						<output class="col-1 text-end">6</output>
					</div>
					<div class="row d-flex justify-content-between mt-2 mb-2">
						<input type="radio" class="btn-check" name="options" id="option" checked>
						<label class="btn btn-outline-secondary col-5 ms-2" for="option">2</label>
						<input type="radio" class="btn-check" name="options" id="option1">
						<label class="btn btn-outline-secondary col-5 me-2" for="option1">4</label>
					</div>
					<button type="button" id="gameBtn" data-bs-toggle="modal" data-bs-target="#lobby" data-i18n="submit">submit</button>
				</form>
			</div>
		</div>
	</div> 
</div>

<!-- lobby modal -->
<div class="modal" id="lobby" tabindex="-1" data-bs-backdrop="static" aria-labelledby="lobby" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="lobby"></h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body paddle">
				<h3 class="w-auto position-absolute start-50 top-50 translate-middle" data-i18n="choose_spot"></h3>
				<input type="text" class="position-absolute start-0 top-50 w-25 h-25 translate-middle-y">
				<button type="button" class="position-absolute start-50 top-0 w-25 h-25 translate-middle-x">3</button>
				<button type="button" class="position-absolute end-0 top-50 w-25 h-25 translate-middle-y">2</button>
				<button type="button" class="position-absolute start-50 bottom-0 w-25 h-25 translate-middle-x">4</button>
			</div>
		</div>
	</div> 
</div>