<a href="#/login">
	<button type="button" class="position-absolute"><span data-i18n="login"></span> / <span data-i18n="sign_up"></span></button>
</a>

<button type="button" class="position-absolute" data-i18n="logout" hidden></button>

<ul class="position-absolute start-50 translate-middle-x list-unstyled ms-1 mt-1">
	<h2><a href="#" class="nav-link active text-bg-light bg-opacity-50" translate="no">Transcendence</a></h2>
</ul>

<div class="link position-absolute top-0 end-0 me-2 mt-2">
	<a href="https://github.com/ztrottie/ft_transcendence" target="_blank">
		<img src="/frontend/img/github-white.svg" alt="github logo" class="miniLogo ">
	</a>
</div>
